body {
margin-left: 5%;
margin-right: 5%;
background-color: white;
color: #000000;
padding: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9pt
}

table, tr, th, td
{
border: 1px solid white;
font-size: 9pt
}


.TODO {
	font-weight: bold;
	color: #090;
}
.alert {
	font-weight: bold;
	color: #F00;
}

li { padding-bottom: 10px }

h1 { font-size: 125% }

h2 { font-size: 125% }

h3 { font-size: 110% }

hr { color : navy } /* was MidnightBlue rgb(25,25,112) */

A:hover { color: white; background: navy }

code {
	font-size: 100%;
}

pre { font-size: 100% }

.due {
  padding-left: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: Lime;
}

.back {
  padding-left: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: Aqua;
}

pre, code, tt {
  overflow: auto;
}
.blackThinBorder {
	border: thin solid #000;
	padding: 5px;
}
