#TopHeader{
    text-align: center;
    font-size: 50px;
}
#TopHeader a:visited{
    color: blue;
}
#Intro{
    text-align: center;
    font-size: 50px;
}
#LetsPlay{
    text-align: center;
    font-size: 50px;
}
#LetsPlay a:visited{
    color: blue;
}
#LetsPlay a:hover{
    color: blue;
    text-decoration: none;
    background: none;
}