/* Styles for navigation bar. */
@media (min-width: 768px) {
    .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* navbar */
@media (min-width: 768px) {
  /* Settings for width on desktop. */
    .navbar-default {
        width: 60%;
        min-width: 700px;
    }
}
.navbar-default {
    background: #701112;
    border: 2px solid white;
    border-radius: 0px 0px 25px 25px;
    margin: 0px auto;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #C5BD99;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #701112;
}

/* mobile 3-bar button */
.navbar-default .navbar-toggle {
    border: 2px solid white;
    background-color: #C5BD99;
    margin-right: 30px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #C5BD99;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* caret/triangle thing */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #C5BD99;
    border-bottom-color: #C5BD99;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}

/* dropdown menu non-mobile */
@media (min-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        border: 2px solid white;
        border-radius: 10px;
        background: #701112;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #C5BD99;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        background: #701112;
    }
}
@media (max-width: 767px) {
        .navbar-default {
        width: 80%;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #C5BD99;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
    }
}
