body {
    background: url(../Images/Background_Small.png);
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
a {
    text-decoration: none!important;
    color: inherit;
}
.DS-paragraph-box-div{
    margin: 0px auto 0px auto;
    width: 60%;
}
.DS-paragraph-box{
    padding: 10px 15px 10px 15px;
    color: white;
    font-size: 18px;
    text-indent: 50px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
}
.DS-red-box{
    margin: 50px auto 50px auto;
    padding: 5px 0px 5px 0px;
    background-color: #701112;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    font-size: 70px;
    color: #C5BD99;
}
.DS-list {
    margin: 0px 0px 0px 100px;
    color: white;
    font-size: 18px;
}

/*Need text-indent otherwise there is a large space between the dot and the text in a li*/
.DS-list li {margin-bottom: 3px; text-indent: 0px;} 

/*******************************Styles for Default.html*******************************/
#MainPic {
    display: block;
    margin: -19px auto 0px auto;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}
#DS-Email {
    padding: 10px 15px 10px 15px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    width: 400px;
    margin: 0px auto;
}
.DS-Links img {
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}
/*******************************Styles for Education.html*******************************/
.DS-edu-img {
    display: block;
    margin: 0px auto 0px auto;
}
.DS-edu-block h2 {
    margin: 0px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-indent: 0px;
}
.DS-edu-block h3 {
    margin: 0px;
    font-weight: bold ;
    color: white;
    text-indent: 0px;
}
.DS-edu-block h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-indent: 0px;
}
/*******************************Styles for Teaching.html*******************************/
#FirstClass {
    display: block;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}
/*******************************Styles for Employment.html******************************
    I used the same classes as the Education page for a lot of elements.
*/
/*******************************Styles for My_Website.html*********************************/
/*******************************Styles for SuperAssemBros.html*****************************/
/*******************************Styles for P4.0Terminator.html*****************************/
#Tmn8List {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    color: white;
    font-size: 24px;
}
#Tmn8List li {
    margin: 5px 0px 5px -25px;
    list-style-type: none;
}
#Tmn8List li a {
    color: #C5BD99;
}
#Tmn8List li a:hover {
    color: white;
}
#Tmn8MainPic {
    display: block;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}
.DS-tmn8-subhead {
    margin: 0px auto 10px auto;
    text-align: center;
    font-size: 36px;
    color: #C5BD99;
}
.Tmn8References {
    display: block;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.Tmn8References:hover {color: inherit;}
/*******************************Styles for Modifications.html*******************************/
.ModsPics {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
}
/*******************************Styles for Dyno_Runs.html*******************************/
.DS-dyno-dates {
    margin: 0px auto 0px auto;
    font-size: 60px;
    color: #C5BD99;
}
.DS-dyno-videos {
    display: block;
    margin: 20px auto 20px auto;
    height: 450px;
    width: 800px;
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
}
.DS-dyno-results {
    width: 800px;
    display: block;
    margin: 0px auto 0px auto;
    height: auto;
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
}
/*******************************Styles for Photo_Gallery.html*******************************/
.GalleryImage {
    margin: 5px 5px 5px 5px;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
}
/*******************************Styles for Repairs.html*******************************/
/*Alot of the elements ont his page copy from Modifications.*/