div {
    margin-top: 200px;
}

.Links {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 35px;
}

#Celadon {
    color: #ACE1AF;
}

#Cerulean {
    color: #1DACD6;
}

#Saffron {
    color: #F4C430;
}

#Vermilion {
    color: #E34234;
}

#Centos6 {
    color: black;
}

#Centos7 {
    color: black;
}